#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Loading spinner animation */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
}
.lds-ripple div {
  position: absolute;
  border: 2px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.2s cubic-bezier(0, 0.1, 0.2, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.6s;
}
@keyframes lds-ripple {
  0% {
    top: 12px;
    left: 12px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 12px;
    left: 12px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 12px;
    left: 12px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    opacity: 0;
  }
}

/* modal (background) */
.modal {
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: visible; /* Enable scroll if needed */
  background-color: #141516;
  opacity: 0.9;
}

/* modal Content */
.modal-content {
  transform: translateY(-40%);
  margin: auto;
  padding: 2em 3em;
  border: 0px solid;
  border-radius: 10px;
  opacity: 0.9;

  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
